@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

/*100vh é para que o conteudo vá até o final da página, independente do tamanho*/
html, body{
    min-height: 100vh; 
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*outra forma: text-transform:uppercase*/
    font-family: var(--fonte2);
    font-size: 10vw /*10% da largura da viewport, forma de adaptar a letra a largura do dispositivo*/;
}

header >p{
    padding-bottom: 50px; /*para ficar simétrico com o padding de h1*/
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh; /*começo do efeito paralax , 10% da altura da viewport   */
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px; /* para os parágrafos ficarem afastados da borda*/
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(41, 38, 38);
    color: white;
}

section.imagem > p{
    display: inline-block; /*caixa que se adapta ao tamanho do conteúdo*/
    background-color: rgba(0, 0, 0, 0.185);/*configuração para o texto não se confundir com a imagem*/
   padding: 5px;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}